/* barra de navegacion */

nav {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 580px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
}

.nav-logo-title {
  font-family: 'Garde';
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  user-select: none; 
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#logo-title {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
}

.list-cont {
  display:flex;
  flex-direction: row;
  min-width: 310px;
  user-select: none; 
}

.list-cont ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  margin-right: 15px;
}

.list-cont li {
  height: 100%;
  list-style: none;
  padding: 5px 10px;
  gap: 20px;
  transition: color, background-color, border-radius, font-weight linear 80ms;
}

.list-cont li:hover {
  background-color: darkgray;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color:black;
  border-radius: 10px;
}

/* */ 

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
/* sidebar */ 
.sidebar {
  width: 35%;
  user-select: none; 
}

.sidebar ul {
  list-style: none;
  padding-inline-start: 0;
}

.sidebar h1 {
  text-align: center;
}


.sidebar li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 3rem;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color, color, font-weight, font-size linear 80ms;
}

.sidebar li:hover {
  background-color: darkgray;
  font-weight: 700;
  color:black;
  border-radius: 10px;
  font-size: 1.1rem;
}

/* */ 
.principal {
  width: 100%;
}

.p-title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid darkgray;
}

.contenido {
  width: 80%;
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
}

.indice {
  width: 40%;
  text-align: center;
  user-select: none; 
  margin: 20px 0;
}

.indice ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  text-align: left;
}

.indice li {
  padding: 10px;
  transition: color, background-color, font-weight linear 80ms;
  border-radius: 10px 0 0 10px;
}
.indice li:hover {
  background-color: darkgray;
  font-weight: 500;
  color: black;
}
.indice a {
  width: 100%;
}
.indice a:link {
  text-decoration: none;
}
.indice a:visited {
  text-decoration: none;
  color: darkgrey;
}

.indice a:visited:hover {
  text-decoration: none;
  color: black;
}
